Nama: Muhammad Sausan Syafiq
Assigment: ILT SS 7

Tell them how you got where you are today:

Saya sedari dulu memeng suka dengan perkembangan teknologi dan bagaimana cara computer bekerja. Karena itu saya terus megikuti pelajaran tambahan saat masih di bangku SMK dan menjadi teknisi jaringan di sekolah, setelah lulus sekolah dan lanjut kuliah saya juga sering mengikuti event dan program dari luar kampus seperti program decoding atau event dari Google yang membuat saya perlahan-lahan mulai menyukai tentang perkembangan AI, setelah itu saya mengikuti program Coding Camp 2026 powered by DBS dan memilih learning path AI Engineer.


Talk about yourt current job and responsibilities:

Saat ini kesibukan saya dalam sehari-hari adalah mengerjakan job desk saya yaitu membangun model Chatbot dan system rekomendasi untuk project Bersama teman saya yang dimana project itu untuk perlombaan "Inovasi Teknologi".


Explain what you future goals are:

Goals saya adalah bisa bekerja di Big Tech dan bekerja sesuai bidang saya yang saya kuasai. 